// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  border: darken(#27AE60, 10%) solid 1px;
  background-color: #27AE60;
  height: 5em;
  width: 5em;
  float: left;
}

.black {
  background-color: #2C3E50;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  margin: .3em auto;
}

.white {
  background-color: #ECF0F1;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  margin: .3em auto;
}